<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="shop">
      <h2 data-cy="shopDetailsHeading"><span>Shop</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ shop.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ shop.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ shop.description }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ shop.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Owner</span></dt>
        <dd>
          <div *ngIf="shop.owner">
            <a [routerLink]="['/user-extra', shop.owner?.id, 'view']">{{ shop.owner?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/shop', shop.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
