<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="item">
      <h2 data-cy="itemDetailsHeading"><span>Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ item.id }}</span>
        </dd>
        <dt><span>Image</span></dt>
        <div *ngIf="results && results.length > 0; else empty">
          <dd class="row">
            <div *ngFor="let res of results; let i = index" class="col-2">
              <img class="img-fluid" [src]="res | safeHtml" name="result-{{ i }}"/>
            </div>
          </dd>
        </div>
        <ng-template #empty>
          <dd>No Image</dd>
        </ng-template>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ item.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ item.description }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ item.price }}</span>
        </dd>
        <dt><span>Shop</span></dt>
        <dd>
          <div *ngIf="item.shop">
            <a [routerLink]="['/shop', item.shop?.id, 'view']">{{ item.shop?.name }}</a>
          </div>
        </dd>
      </dl>

      <form name="editForm" role="form" novalidate (ngSubmit)="addToBasket()" [formGroup]="editForm">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
          </div>

          <div *jhiHasAnyAuthority="'ROLE_BUYER', 'ROLE_ADMIN'" class="col-auto">
            <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary">
              <fa-icon icon="plus"></fa-icon>&nbsp;<span>Add</span>
            </button>
          </div>

          <div *jhiHasAnyAuthority="'ROLE_BUYER', 'ROLE_ADMIN'" class="col-md-2">
            <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" placeholder="Amount"/>
          </div>
          <div *ngIf="editForm.get('amount')!.invalid && (editForm.get('amount')!.dirty || editForm.get('amount')!.touched)" class="col-md-6">
            <small class="form-text text-danger" *ngIf="editForm.get('amount')?.errors?.required"> Your amount is required. </small>

            <small class="form-text text-danger" *ngIf="editForm.get('amount')?.errors?.minlength"> Your amount is required to be at minimum 1. </small>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
